extend layout
block content
  table.table
    tbody
      tr
        td
          p #{releaseInfo}
        td
          p #{country}
        td
          p #{catalog}  
        td
          p #{rekords}
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p #{released}
        td
          p
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p 
        td
          p #{weight} 
        td
          p 
        td
          p 
        td
          p 
        td
          p #{labels}